@import "tailwindcss";

:root {
  background-color: #0f172a;
  /* Slate 900 fallback */
  color: #f8fafc;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Prevent scrollbars on map app */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar for Sidebar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}